.c_toggleHeaderFooterVisible {
  position: absolute;
  top: -60px;
  right: calc(var(--pd-outermost-both-sides) + env(safe-area-inset-right, 0));
  width: 48px;
  height: 48px;
  overflow: hidden;
  display: flex;
}
.c_svgToggleHFVisible {
  position: absolute;
  top: 0;
  left: 0;
}
.c_svgToggleHFVisible__bg {
  fill: rgb(var(--color-primary));
  stroke: rgb(var(--color-bg));
}
.c_svgToggleHFVisible__fg {
  fill: rgb(var(--color-bg));
  stroke: rgb(var(--color-bg));
}
@media (prefers-reduced-motion: no-preference){
  .c_toggleHeaderFooterVisible[aria-expanded='false'] {
    .c_svgToggleHFVisible.-to_expand {
      animation: shrink__fadeIn var(--animation-changing) 1 forwards;
    }
    .c_svgToggleHFVisible.-to_shrink {
      animation: shrink__fadeOut var(--animation-changing) 1 forwards;
    }
  }
  .c_toggleHeaderFooterVisible[aria-expanded='true'] {
    .c_svgToggleHFVisible.-to_expand {
      animation: shrink__fadeOut var(--animation-changing) 1 forwards;
    }
    .c_svgToggleHFVisible.-to_shrink {
      animation: shrink__fadeIn var(--animation-changing) 1 forwards;
    }
  }
}
@keyframes shrink__fadeIn {
  from {
    transform: scale(1);
    opacity: 0;
    z-index: 1;
  }
  50% {
    transform: scale(0);
    opacity: 1;
    z-index: 10;
  }
  to {
    transform: scale(1);
    opacity: 1;
    z-index: 10;
  }
}
@keyframes shrink__fadeOut {
  from {
    transform: scale(1);
    opacity: 1;
    z-index: 10;
  }
  50% {
    transform: scale(0);
    opacity: 0;
    z-index: 1;
  }
  to {
    transform: scale(1);
    opacity: 0;
    z-index: 1;
  }
}
