.wrap {
}
.hdng {
  --line-width: 0.25rem;
  padding-left: calc(var(--line-width) * 2);
  background: linear-gradient(
    to right,
    rgb(var(--color-secondary)) 0 var(--line-width),
    transparent var(--line-width) 100%
  );
  font-size: var(--fz-headingLv3);
}
.hdng_i {}
.cnt {}