.wrap{
  overflow: auto;
  max-height: var(--max-height, none);
  position: relative;
}
.func{

}
.table {
  table-layout: fixed;
}
.caption {
  padding: 0 0.3em;
}
.th{
  min-width: var(--min-column-width, auto);
}
.caption_i {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  font-size: var(--fz-small);
}
.tbodyTr[data-match-media='true'] td {
  --color: var(--color-secondary);
  background-color: rgb(var(--color) / 0.4);
}