.link {
  color: rgb(var(--color-primary));
  font-size: var(--fz-link-text, inherit);
  &:is([aria-current],[data-disabled="true"]){
    text-decoration: none;
    color: rgb(var(--color-fg));
    &:hover{
      cursor: default;
    }
  }
}
.linkIcon{
  padding: 0 .5em;
  display: inline;
}
.linkIcon > :is(svg,img){
  display: inline;
  width: 1em;
  height: auto;
  vertical-align: middle;
}
.viewing{
  font-feature-settings:"palt"
}