.dl{
  border: 2px solid;
  border-radius: 8px;
  padding: 1em 1em;
  max-width: 35em;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
}
.dt{
  align-self: center;
  font-size: var(--fz-headingLv3);
  font-weight: bold;
}
.dd{
  margin-top: 1em;
}
.dd_i+.dd_i{
  margin-top: 0.5em;
}