.wrap{
  border-radius: 1rem;
  border:1px solid rgb(var(--color-secondary));
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 1em;
}
.legend{
  font-weight: bold;
}
.column1{
  display: grid;
  grid-template-columns: 1fr;
}
.labelTextfield{
  display: block;
  & span{
    padding-right: 0.4em;
  }
}
.labelCheckbox{
  padding-right: 1rem;
}
.errorMessage{
  font-weight: bold;
  color: rgb(var(--color-error));
  font-size: 90%;
  &::before{
    content:'*'
  }
}
/* .output{} */
.outputItem{
  border: 1px solid rgb(var(--color-fg));
  border-radius: 0.25rem;
  padding: 0.25em;
  width: 100%;
  word-break: break-all;
}