.wrap{
  border-radius: 1rem;
  border:1px solid rgb(var(--color-secondary));
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 2em;
}
.legend{
  font-size: var(--fz-headingLv3);
}
/* .output{} */
.outputItem{
  border: 1px solid rgb(var(--color-fg));
  border-radius: 0.25rem;
  padding: 0.25em;
  width: 100%;
  word-break: break-all;
}