/* 開くボタン */
.openHumbergerBtn{
  width: 44px;
  height: 44px;
}
.humberger__circle{
  fill: rgb(var(--color-bg));
  stroke: rgb(var(--color-bg));
  &:nth-of-type(2){
    fill: rgb(var(--color-primary));
    stroke: rgb(var(--color-primary));
  }
}
.humberger__line{
  transition: transform var(--animation-changing), opacity var(--animation-changing);
  opacity: 1;
  stroke: rgb(var(--color-bg));
  &:nth-of-type(1){
    transform: translateY(0) rotate(0);
    transform-origin: 22px 15px;
  }
  &:nth-of-type(2){}
  &:nth-of-type(3){
    transform: translateY(0) rotate(0);
    transform-origin: 22px 29px;
  }
}
.c_headerMenu[aria-expanded='true'] .c_svgHumberger use[href='#c_svgHumberger__line1'] {
  transform: translateY(7px) rotate(45deg);
}
.c_headerMenu[aria-expanded='true'] .c_svgHumberger use[href='#c_svgHumberger__line2'] {
  opacity: 0;
}
.c_headerMenu[aria-expanded='true'] .c_svgHumberger use[href='#c_svgHumberger__line3'] {
  transform: translateY(-7px) rotate(-45deg);
}

/* モーダル */
.wrapModal{
  border:none;
  --outer-margin: 2rem;
  width: calc(100% - 2 * var(--outer-margin));
  height: calc(100% - 2 * var(--outer-margin));
  padding: env(safe-area-inset-top, 0) env(safe-area-inset-right, 0)
    env(safe-area-inset-bottom, 0) env(safe-area-inset-left, 0);
  background-color: rgb(var(--color-bg));
  border-radius: 12px;
  &::backdrop{
    background-color: rgb(var(--color-fg) / 0.3);
    backdrop-filter: blur(3px);
  }
}
/* @media (prefers-reduced-motion: no-preference){
  .wrapModal{
    transition: transform var(--animation-duration);
    transform: scale(0);
    display: block;
    &:not([open]){
      a[href],button,[tabindex]:not([tabindex="-1"]),[role="button"],input,textarea{
        visibility: hidden;
      }
    }
  }
  .wrapModal[open]{
    transform: scale(1);
  }
} */

.wrapModalInner{
  display: grid;
  overflow-y: auto;
  grid-template-columns: 1fr;
  grid-template-rows: 44px 1fr;
  column-gap: 0.5rem;
  padding: 1rem;
  height: 100%;
}
.wrapBtn {
  display: flex;
  justify-content: flex-end;
}
.closeBtn{
  width: 44px;
  height: 44px;
}
.svg{
}
.svg__bg {
  fill: rgb(var(--color-primary));
  stroke: rgb(var(--color-primary));
}
.svg__fg {
  fill: rgb(var(--color-bg));
  stroke: rgb(var(--color-bg));
}

.wrapModal{
  width: 100%;
  flex:1 1 auto;
}
