.wrap {}
.hdng {
  font-size: var(--fz-headingLv3);
}
.hdng_i {}
.cnt {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: 100%;
  row-gap: 1.7rem;
  &.-center {
    justify-content: center;
  }
}