.link {
  color: rgb(var(--color-primary));
  font-size: var(--fz-link-text, inherit);
}
.linkIcon{
  padding: 0 .5em;
  display: inline;
}
.linkIcon > :is(svg,img){
  display: inline;
  width: 1em;
  height: auto;
  vertical-align: middle;
}
.text{}
.strokeCurrentColor{
  stroke: currentColor;
}