/* innerBody */
.wrapper {
  position: relative;
  display: grid;
  min-height: 100dvh;
  grid-template-columns: 100%;
  grid-template-rows: auto 1fr auto;
  z-index: 1;
  background-color: rgb(var(--color-bg));
}

/* vb */
.veryBack {
  padding: env(safe-area-inset-top, 0) env(safe-area-inset-right, 0)
    env(safe-area-inset-bottom, 0) env(safe-area-inset-left, 0);
  position: relative;
  & + &{
    padding-bottom: 0;
  }
  &.header{
    box-shadow: 0 5px 6px rgb(var(--color-fg) / 0.7);
    position: sticky;
    top: 0;
    z-index: 100;
  }
  &.content{
    padding: 2.5rem var(--pd-outermost-both-sides) calc(2.5rem + 60px);
    position: relative;
    z-index: 5;
  }
  &.footer{
    box-shadow: 0 -5px 6px rgb(var(--color-fg) / 0.7);
    position: sticky;
    bottom: 0;
    margin-top: 7rem; /* 追従ボタンとBottomPopupの分 */
    z-index: 100;
  }
  &.asideContent{
    position: relative;
  }
}