.wrap {}
.hdng {
  font-size: var(--fz-headingLv1);
  line-height: 1.2;
}
.hdng_i {}
.cnt {}
.hdng[data-sr-only="false"] + .cnt {
  margin-top: 1em;
}
.wrap:has(.hdng[data-sr-only="false"]),
.hdng[data-sr-only="true"] + .cnt {
  margin-bottom: 3em;
}