.button{
  background-color: rgb(var(--color-primary));
  padding: .2em .5em;
  color: rgb(var(--color-bg));
  font-weight: bold;
  position: relative;
  overflow: hidden;
  font-size: inherit;
}
.button:disabled{
  color: rgb(var(--color-disabled-text));
  background-color: rgb(var(--color-disabled-background));
}
.button::after{
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: rgba(0,0,0,0);
  z-index: 100;
  pointer-events: none;
  backdrop-filter: invert(1);
  transition: width var(--animation-changing);
}
/* .button_i{} */

.button:focus-visible::after {
  width: 100%
}
@media(hover: hover) {
  .button:not([disabled]):hover::after {
      width:100%
  }
}