.wrap{
  padding: 2px;
  border: 2px solid transparent;
  display: inline-block;
  border-radius: 12px;
  &:focus-within, &:has(button:hover){
    border-color: rgb(var(--color-fg));
  }
}
.button{
  background-color: rgb(var(--color-primary));
  padding: .2em .5em;
  color: rgb(var(--color-bg));
  font-weight: bold;
  position: relative;
  overflow: hidden;
  font-size: 1.25rem;
  border: none;
}
.button:disabled{
  color: rgb(var(--color-disabled-text));
  background-color: rgb(var(--color-disabled-background));
}