.wrap{
  display: grid;
  overflow-x: auto;
  grid-template-columns: repeat(var(--fill-or-fit), minmax(var(--min-width),var(--max-width)));
  column-gap: var(--column-gap);
  row-gap: var(--row-gap);
  margin-top: var(--margin-top);
}
.item{
  height: 100%;
  overflow-x: auto;
}