.wrap{
  display: grid;
  overflow-x: auto;
  grid-template-columns: repeat(var(--fill-or-fit, auto-fit), minmax(var(--min-width, auto),var(--max-width ,1fr)));
  column-gap: var(--column-gap, 1rem);
  row-gap: var(--row-gap, 1rem);
  margin-top: var(--margin-top, 0);
}
.item{
  height: 100%;
  overflow-x: auto;
}